body {
    button {
        border: none;
    }

    .darkblue-bg {
        background-color: #5762EF;
    }
    
    .purple-bg {
        background:#652CB3;
        img {
            width: 10%;
            height: 10%;
            padding-right: 1%;
        }
    }
    
    .magenta-bg {
        background: #F72754;
    }
    
    .font-graduate {
        font-family: 'Graduate', sans-serif;
        font-weight: bold;
        color: white;
    }

    .rounded-border {
        border-radius: 10px;
    }
}

.title-piano {
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 6em;
    height: 2.5em;

    h2 {
        margin: 0;
    }
}

.piano-btns {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: end;

    z-index: 1;
    
    div {
        display: flex;
        flex-direction: row;

        justify-items: center;
        align-items: center;

        padding: 5px;
        margin-bottom: -0.4em;
    }

    .key-help {
        gap: 5px;
        background: #1FE7FF;

        button {
            border-radius: 50%;
        }
    }

    .inst-play {
        gap: 15px;

        div {
            height: 1.75em;
            width: 10em;

            button {
                width: 100%;
                height: 100%;

                p {
                    margin: 0;
                }
            }
        }
    }

    .char-box {
        font-size: 0.5em;
    }
}

.piano-notes {
    display: flex;
    justify-content: row;
    
    gap: 5px;
    padding: 15px;

    border-radius: 25px;
    background: #1FFFC6;

    width: max-content;

    section {
        display: flex;
        flex-direction: row;

        gap: 0.5em;

        .white-note {
            height: 8em;
            width: 2em;
        }
        
        .border-bottom {
            box-sizing: border-box;
            border-bottom: 0.25em solid;
        }

        .no-border {
            border-bottom-width: 0;
        }

        .black-note {
            margin: 0 -0.75em;
            z-index: 1;
            
            height: 6em;
            width: 1em;
            
            background: black;
            border-bottom-color: rgb(99, 99, 99);
        }

        .do-key {
            background: #DA0063;
            border-bottom-color: #a7004b;
        }
        
        .re-key {
            background: #F24726;
            border-bottom-color: #bd381d;
        }
    
        .mi-key {
            background: #CEE741;
            border-bottom-color: #95a72f;
        }
    
        .fa-key {
            background: #8FD14F;
            border-bottom-color: #649236;
        }
    
        .sol-key {
            background: #12CDD4;
            border-bottom-color: #0a858a;
        }
    
        .la-key {
            background: #2D9BF0;
            border-bottom-color: #1e659c;
        }
    
        .si-key {
            background: #414BB2;
            border-bottom-color: #2e357e;
        }
    }
}