body {
    button {
        border: none;
    }

    .darkblue-bg {
        background-color: #5762EF;
    }
    
    .purple-bg {
        background: #652CB3;
    }
    
    .magenta-bg {
        background: #F72754;
    }
    
    .font-graduate {
        font-family: 'Graduate', sans-serif;
        font-weight: bold;
        color: white;
    }

    .rounded-border {
        border-radius: 10px;
    }
}

main {
    display: flex;
    flex-direction: column;

    gap: 10em;
    margin: 2em 3em;
}

.title-piano {
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 12vw;
    height: 5vh;

    font-size: 2em;
    
    h2 {
        margin: 0;
    }
}

.piano-btns {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: end;

    z-index: 1;
    
    div {
        display: flex;
        flex-direction: row;

        justify-items: center;
        align-items: center;

        padding: 5px;
        margin-bottom: -0.4vh;
    }

    .key-help {
        justify-content: space-around;

        height: 5vh;
        width: 5vw;

        gap: 5px;
        background: #1FE7FF;

        button {
            height: 4vh;
            width: 2vw;

            border-radius: 50%;
            font-size: 1vw;
        }
    }

    .inst-play {
        gap: 25px;

        div {
            height: 5vh;
            width: 10vw;
            
            justify-content: center;

            button {
                width: 90%;
                height: 90%;

                p {
                    margin: 0;
                    font-size: 1vw;
                }
            }
        }
    }

    .char-box {
        font-size: 1vw;
    }
}

.piano-notes {
    display: flex;
    justify-content: row;
    
    gap: 5px;
    padding: 15px;

    border-radius: 25px;
    background: #1FFFC6;

    width: max-content;

    section {
        display: flex;
        flex-direction: row;

        gap: 0.5vw;

        .white-note {
            height: 28vh;
            width: 3vw;
        }

        .black-note {
            margin: 0 -1.25vw;
            z-index: 1;
            
            height: 20vh;
            width: 2vw;
            
            background: black;
            border-bottom-color: rgb(99, 99, 99);
        }
        
        .border-bottom {
            box-sizing: border-box;
            border-bottom: 2vh solid;
        }

        .no-border {
            border-bottom-width: 0;
        }

        .do-key {
            background: #DA0063;
            border-bottom-color: #a7004b;
        }
        
        .re-key {
            background: #F24726;
            border-bottom-color: #bd381d;
        }
    
        .mi-key {
            background: #CEE741;
            border-bottom-color: #95a72f;
        }
    
        .fa-key {
            background: #8FD14F;
            border-bottom-color: #649236;
        }
    
        .sol-key {
            background: #12CDD4;
            border-bottom-color: #0a858a;
        }
    
        .la-key {
            background: #2D9BF0;
            border-bottom-color: #1e659c;
        }
    
        .si-key {
            background: #414BB2;
            border-bottom-color: #2e357e;
        }
    }
}